<div id="header">
  <header id="header" data-hook>
    <div class="row">
      <div class="small-6 columns">
      {{partial "logo"}}
      </div>
      <div class="small-6 columns">
          <nav class="top-bar" data-topbar role="navigation">
            <ul id="nav-bar" class="nav navbar-nav navbar-right" data-hook>
              <li class="has-form">
                  <div class="row collapse">
                    <div class="large-8 small-9 columns">
                      <input type="text" placeholder="Find Stuff">
                    </div>
                    <div class="large-4 small-3 columns">
                      <a href="#" class="alert button expand">Search</a>
                    </div>
                  </div>
              </li>
            </ul>        
          </nav>
      </div>
    </div>
  </header>
  <div class="row">
    <div class="small-12 columns">
        <nav class="top-bar" data-topbar role="navigation">
          <section class="top-bar-section">
            <ul class="" data-hook>
              <li id="home-link" data-hook> {{#link-to 'application'}}Home{{/link-to}} </li>
              <li id="products" data-hook> {{#link-to 'spree.products'}}Products{{/link-to}} </li>
              <li id="link-to-cart" data-hook> {{#link-to 'spree.cart'}}Cart{{/link-to}} </li>
            </ul>
          </section>
        </nav>
    </div>
  </div>
</div>
